body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

#quote-container {
    text-align: center;
    max-width: 80%;
    border-radius: 10px;
}

#quote {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.4;
}

#author {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    color: #444;
    font-weight: 400;
    text-align: right;
}

@media (prefers-color-scheme: dark) {

    body,
    html {
        background-color: #1e1e1e;
    }

    #quote {
        color: #f4f4f4;
    }

    #author {
        color: #cccccc;
    }
}